/* Carousel container */
.CarouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 80vw;
    overflow: hidden;
    margin: auto;
}

/* Carousel track */
.Carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;  /* for Firefox */
}

.Carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
}

/* Card styling */
.Cartao {
    min-width: 200px;
    max-width: 200px;
    margin: 0 1rem;
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.6s;
}

.Cartao:hover .CartaoContent {
    transform: rotateY(180deg);
}

.CartaoContent {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid rgb(23, 198, 198);
    border-radius: 0.25rem;
    background-color: white;
    color: #333;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button styling */
.CarouselButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}
