<p>Hello Word RouteContador</p>

<div class="CarouselContainer">
    <button class="CarouselButton left" (click)="scrollLeft()">‹</button>
    <div class="Carousel" #carousel>
        <div *ngFor="let animal of animais" class="Cartao">
            <div class="CartaoContent" [routerLink]="'/animalDetalhes/' + animal.id">
                <h3>{{animal.nome}} <small>(#{{animal.id}})</small></h3>
                <p>Espécie: {{animal.especie}}</p>
            </div>
        </div>
    </div>
    <button class="CarouselButton right" (click)="scrollRight()">›</button>
</div>
