
<nav>
    <ul>
        <li>
            <a href="/hello-world">hello word rout</a>
        </li>
        <li>
            <a href="/contador">contador</a>
        </li>
    </ul>
</nav>

<br>
<nav>
    <ul>
        <li>
            <a  routerLink="/hello-world" routerLinkActive="linkAtivo">hello word rout</a>
        </li>
        
        <li>
            <a  routerLink="/contador" routerLinkActive="linkAtivo" >contador</a>
        </li>
        <li>
            <a  routerLink="/ngIf" routerLinkActive="linkAtivo" >IF</a>
        </li>
        <li>
            <a  routerLink="/ngloop" routerLinkActive="linkAtivo" >LOOP</a>
        </li>
    </ul>
</nav>
<router-outlet/>
<p>hello word</p>
<p>hello world 2</p>
<!-- <app-hello-word></app-hello-word> -->
 
 <!-- version 17 up -->
<!-- <app-hello-word/> -->

<!-- <app-hello-word meuNome="Melo"/> -->
<app-hello-word [meuNome]="nomeDinamico"/>
<!-- [] - receber info () - emitir info -->
<app-contador (foiAlterado)="quandoFoiAlterado($event)"/>
<p>Contador Pai:</p>
 <b>:{{contadorPai}}</b>
